#include "resource.h"
#include <windows.h>
#include "verrsrc.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "GIAO"
            VALUE "FileDescription", "user mode hook helper kernel mode hook helper plugin"
            VALUE "FileVersion", "1.1.1"
            VALUE "InternalName", "KrnlModeHookHlp.dll"
            VALUE "LegalCopyright", "(c) 2026 GIAO. All rights reserved."
            VALUE "OriginalFilename", "KrnlModeHookHlp.dll"
            VALUE "ProductName", "UserModeHookHelper"
            VALUE "ProductVersion", "1.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_KMHH_DIALOG DIALOGEX 0, 0, 420, 320
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_APPWINDOW
CAPTION "Kernel Mode Hook Helper"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Kernel Hook List", IDC_STATIC, 12, 12, 150, 12
    CONTROL "", IDC_KMHH_LIST_HOOKS, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | WS_VSCROLL | WS_HSCROLL, 12, 26, 396, 230
    PUSHBUTTON "Apply Hook Sequence...", IDC_KMHH_BTN_APPLY_SEQ, 12, 268, 150, 24
    LTEXT "Use the button to load and apply a kernel hook sequence.", IDC_KMHH_STATIC_HINT, 172, 274, 236, 16
END
